<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rant Room</title>
    <link rel="stylesheet" type="text/css" href="rant_room_css.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="rant_room_js.js"></script>
</head>
<body>
    <div id="menuSidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="portal_room.html">Portal Room</a>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">&#187;</button>
        <div id="rant">
            <h1 class="title">What's on your mind?...</h1>
            <form action="{{ url_for('foo')}}" method="POST">
                <input type="text" id="thoughts" name="thoughts" value="Let it out..."><br><br>
                <input type="submit" value="Post to board" id="board">
            </form>
            <button type="button" id="release">Release to the stars</button>
        </div>

        <div id="message">
            <h1 class="title">Everything is going to be okay</h1>
        </div>

        <div id="breathein">
            <h1 class="title">Breathe In</h1>
        </div>

        <div id="breatheout">
            <h1 class="title">Breathe Out</h1>
        </div>

        <div id="links">
            <a class="ml" href="#">See what others are thinking</a>
            <a class="ml" href="portal_room.html">Do something fun</a>
            <a class="ml" href="https://www.goodnewsnetwork.org/">Browse some good news</a>
        </div>
    </div>
</body>
</html>
